/*section header css styling*/
"flex": (
  responsive: true,
  property: flex,
  values: (fill: 1 1 auto)
),
"flex-direction": (
  responsive: true,
  property: flex-direction,
  class: flex,
  values: row column row-reverse column-reverse
),
"flex-grow": (
  responsive: true,
  property: flex-grow,
  class: flex,
  values: (
    grow-0: 0,
    grow-1: 1,
  )
),
"flex-shrink": (
  responsive: true,
  property: flex-shrink,
  class: flex,
  values: (
    shrink-0: 0,
    shrink-1: 1,
  )
),
"flex-wrap": (
  responsive: true,
  property: flex-wrap,
  class: flex,
  values: wrap nowrap wrap-reverse
),
"gap": (
  responsive: true,
  property: gap,
  class: gap,
  values: $spacers
),
"justify-content": (
  responsive: true,
  property: justify-content,
  values: (
    start: flex-start,
    end: flex-end,
    center: center,
    between: space-between,
    around: space-around,
    evenly: space-evenly,
  )
),
"align-items": (
  responsive: true,
  property: align-items,
  values: (
    start: flex-start,
    end: flex-end,
    center: center,
    baseline: baseline,
    stretch: stretch,
  )
),
"align-content": (
  responsive: true,
  property: align-content,
  values: (
    start: flex-start,
    end: flex-end,
    center: center,
    between: space-between,
    around: space-around,
    stretch: stretch,
  )
),
"align-self": (
  responsive: true,
  property: align-self,
  values: (
    auto: auto,
    start: flex-start,
    end: flex-end,
    center: center,
    baseline: baseline,
    stretch: stretch,
  )
),
"order": (
  responsive: true,
  property: order,
  values: (
    first: -1,
    0: 0,
    1: 1,
    2: 2,
    3: 3,
    4: 4,
    5: 5,
    last: 6,
  ),
),

* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v29_163 {
  width: 997px;
  height: 402px;
  background: url("../images/v29_163.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v29_165 {
  width: 106px;
  height: 121px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 99px;
  left: 495px;
  overflow: hidden;
}
.v29_166 {
  width: 256px;
  height: 170px;
  background: rgba(243,243,243,1);
  opacity: 1;
  position: absolute;
  top: 232px;
  left: 9px;
  border: 3px solid rgba(252,209,0,0.30000001192092896);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v29_167 {
  width: 256px;
  height: 170px;
  background: rgba(245,244,244,1);
  opacity: 1;
  position: absolute;
  top: 230px;
  left: 383px;
  border: 3px solid rgba(252,209,0,0.30000001192092896);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.v29_168 {
  width: 138px;
  color: rgba(123,120,120,1);
  position: absolute;
  top: 163px;
  left: 193px;
  font-family: Inria Serif;
  font-weight: Regular;
  font-size: 26px;
  opacity: 1;
  text-align: center;
}
.v29_169 {
  width: 57px;
  height: 57px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 241px;
  left: 404px;
  overflow: hidden;
}
.v29_170 {
  width: 33px;
  height: 52px;
  background: rgba(123,120,120,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 12px;
}
.v29_171 {
  width: 467px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 77px;
  left: 19px;
  font-family: Inria Serif;
  font-weight: Regular;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v29_172 {
  width: 406px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3px;
  left: 19px;
  font-family: Inria Serif;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v46_59 {
  width: 71px;
  height: 62px;
  background: rgba(255,214,0,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 415px;
  border: 1px solid rgba(0,0,0,1);
}
.v29_173 {
  width: 71px;
  height: 62px;
  background: rgba(253,211,42,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 411px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.v29_174 {
  width: 201px;
  height: 231px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 785px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v29_175 {
  width: 201px;
  height: 203px;
  background: rgba(123,120,120,1);
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 0px;
}
.v29_179 {
  width: 60px;
  height: 69px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 295px;
  left: 794px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v29_180 {
  width: 50px;
  height: 57px;
  background: rgba(123,120,120,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 5px;
}
.v29_181 {
  width: 60px;
  height: 69px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 298px;
  left: 719px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v29_178 {
  width: 47px;
  height: 54px;
  background: rgba(123,120,120,1);
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 0px;
}
.v29_183 {
  width: 60px;
  height: 69px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 298px;
  left: 937px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v29_185 {
  width: 56px;
  height: 59px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 248px;
  left: 28px;
  overflow: hidden;
}
.v29_186 {
  width: 46px;
  height: 49px;
  background: rgba(123,120,120,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 5px;
}
.v29_187 {
  width: 256px;
  color: rgba(123,120,120,1);
  position: absolute;
  top: 333px;
  left: 0px;
  font-family: Inria Serif;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v29_188 {
  width: 244px;
  color: rgba(123,120,120,1);
  position: absolute;
  top: 334px;
  left: 382px;
  font-family: Inria Serif;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}